.prof-pic{
  width: 20%;
  border-radius: 50%;
  display: inline;
  float: left;
  margin-left: 50px;
}
body{
background-image: url("https://s-media-cache-ak0.pinimg.com/originals/be/2a/94/be2a940c4ac312bf5abc0aa9677749de.jpg");
background-size: 100%;
  font-family: "Work Sans", serif;
}
.projects{
  text-align: center;
}
.name{
  font-family: "Alike Angular", serif;
}
